body {
    background-color: rgba(128, 128, 128, 0.674);
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: gray;
    padding: 0.5em;

    
    border: 1.5px solid #FFF;

    box-shadow: -5px 4px 3px -1px rgba(0,0,0,0.64);
    -webkit-box-shadow: -5px 4px 3px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: -5px 4px 3px -1px rgba(0,0,0,0.64);

}

.cabecera h1 {
    color: white;
    text-align:center;
    text-transform: uppercase;
}

.cabecera h1 span {
    text-transform: uppercase;
    font-size: 9px;
    margin: 0 10px;
    font-weight: normal;
}

.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0.5em auto;

}

.container h1 {
    font-size: 20px;
}
@media (min-width: 768px) {
    .contenido-header {
        display: flex;
        justify-content: space-between;
    
    }
}



.contenido-header .imagen {
    max-width: 11em;
    height: auto;
}
.footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: 70%;
    margin: 0 auto;
    background-color: gray;
    padding: 0.1em 1em;
    border: 2px solid #000;
}